In [2]:
import pandas as pd 
l = [1,2,3,4]
df = pd.DataFrame(l)
df

ModuleNotFoundError: No module named 'pandas'

In [3]:
import pandas as pd
#df = pd.read_csv('F://nba.csv', index_col='Name')
df = pd.read_csv('F://nba.csv',index_col= 'Name')
df.reset_index()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head()
df.tail()

In [ ]:
df.describe()

In [8]:
df.to_csv('new.csv')

In [4]:
import os
os.getcwd()

'f:\\all_F_drive_data'

In [3]:
df = pd.read_csv('new.csv')
df.head(5)
df.tail(5)
df.describe()
df['Age'][6] = 30
df['Age'][6]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7092\2928026667.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Age'][6] = 30
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7092\2928026667.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][6] = 30

np.float64(30.0)

In [4]:
# How to rest index of Data frame
import pandas as pd
data = {'Name':['pankaj','raj','ravi','dipika'],
        'age' : [20,35,40,30]}
df = pd.DataFrame(data, index=['a','b','c','d'])
df
# reseting index
reset_df = df.reset_index()
reset_df

# Droping old index
reset_df = df.reset_index(drop=True)
print(reset_df)

     Name  age
0  pankaj   20
1     raj   35
2    ravi   40
3  dipika   30

In [ ]:
# How to set column as index
data = {'Name':['pankaj','raj','ravi','dipika'],
        'age' : [20,35,40,30]}
df = pd.DataFrame(data)
df

# indexed df
idx_df = df.set_index('Name')
idx_df
df

# setting up column name as index without creating new DF
df.set_index('Name', inplace=True)
df
df.reset_index()
df

In [ ]:
# Multi index and usefulness
data = {'city':['pune','pune','beed','beed','dhule'],
        'year':[2021,2020,2021,2020,2023],
        'population':[8.3,8.4,3.9,4.0,5.3]}
df = pd.DataFrame(data)
df

# Multi index df
multi_index_df = df.set_index(['city','year'])
multi_index_df
multi_index_df.loc[('pune',2021)]
multi_index_df.loc['pune']

#reseting index
reset_df = multi_index_df.reset_index()
reset_df

In [ ]:
#How to assign index to huge data set
data = {'ID':range(1,101),
        'Value':range(100,200)}
df = pd.DataFrame(data)
df.head()
df.tail()

df.set_index('ID', inplace=True)
df

#assigning custome index
df.index = ['row_' + str(i) for i in range(1, len(df)+1)]
df

# adding new column for grouping
df['group'] = ['A']*50 +['B']*50
df = df.set_index(['group',df.index])
df

In [ ]:
# Handaling Missing values
import numpy as np
data = {'Name':['pankaj','raj','ravi','dipika'],
        'age' : [20,35,np.nan,30],
        'marks':[10,np.nan,30,5]}
df = pd.DataFrame(data)
df
# rplace with specific value
df_replace = df.fillna({'age':25, 'marks':55})
df_replace

# drop na values
df_dropped =df.dropna()
df_dropped

# interpolate
df_interpolate = df.interpolate()
df_interpolate

In [ ]:
# how to check missing  values in df
missing_value = df.isna()
missing_value

# count of missing value
missing_count = df.isna().sum()
missing_count

In [ ]:
df.iloc[0:2,0:]
df.loc[0:3,'Name',]

In [ ]:
data  = [10,20,30,40]

df = pd.DataFrame(data, columns=['Amount'])
df

df.set_index('Amount', inplace=True)
df

df.reset_index()
df

In [ ]:
data = [['pankaj',10],['ravi',20],['dipika',30]]

df = pd.DataFrame(data, columns=["name",'age'])
df

In [ ]:
data = {'Name':['Pankaj','Raj','Ravi'],
        'Age':[10,20,30]}

df = pd.DataFrame(data)
df

In [ ]:
data = [{'ab':20, 'cd':30,'ef':40},
        {'ab':40, 'cd':50,'ef':70}]

df = pd.DataFrame(data)
df

In [ ]:
d = pd.Series([10,20,30])

df = pd.DataFrame(d)
df

Multi Indexing in Pandas:

# conversion of Series to DataFrame
Series.to_frame(name = None)

# Convert dataframe to Excel
df.to_excel(excel_writer, sheet_name='sheet1')

Timedelta:
td = pd.Timedelta(days,hours,minutes and seconds)

### Is iterating over Data Frame a good practice?
it definetly not good practice

In [ ]:
d = {'one':pd.Series([1,2,3,4],
     index = [10,20,30,40])}

df = pd.DataFrame(d)
df

In [41]:
# Iterate over Dataframe using iterrows()

data = {'Name':['pankaj','ramesh','Dhas'],
        'Age':[10,20,30],
        'stream':['cs','ds','as'],
        'percentage':[85,75,60]}

df = pd.DataFrame(data, columns=['Name','Age','stream','percentage'])
df

for index,row in df.iterrows():
    print(row['Name'],row['Age'])
    
# iterrating using itertuples()

for row in df.itertuples(index=True,name='Pandas'):
    print(getattr(row,'Name'),getattr(row,"percentage"))

pankaj 10
ramesh 20
Dhas 30
pankaj 85
ramesh 75
Dhas 60

List some statistical functions in Python Pandas

1.  sum()
2.  min()
3.  max()
4.  abs()
5.  mean()
6.  std()
7.  prod()